html {
  padding: 25px 25px;
}

body {
  margin: 30px;
  color: #3C5973;
}

.navbar{
  background:#F2F2F2;
  border: 2px solid gray;
}

.container-fluid {
  padding: 5px;
  margin: 0px;
}

.topBanner{
  margin: 10px;
}

.topBanner em {
  color: #3E939E;
}

.mainBar{
  background: #e5e5e5;
  text-align: left;
  margin: 10px;
}

.mainBar em {
  color: #3E939E;
  font-weight: bolder;
}

.mainBar img {
  border: 3px solid #fff;
  border-radius: 4px;
  padding: 5px;
  max-width: 100%;
}

.secondBar{
  background: #F2F2F2;
  text-align: left;
  margin: 10px;
}

.secondBar img {
  border: 3px solid #fff;
  border-radius: 4px;
  padding: 5px;
  max-width: 100%;
}

.outline {
  border: 1px solid #fff;
}

#center{
  margin-top: auto;
  margin-bottom: auto;
}

#timelineChart_hc {
  position: relative;
  width: 100% !important;
  margin-bottom: 15px;
}

#MBTI {
  position: relative;
  width: 100% !important;
  margin-bottom: 15px;
}

#enneagram {
  position: relative;
  width: 100% !important;
  margin-bottom: 15px;
}

#footer {
  margin: 0px;
  text-align: center;
  font-size: 80%;
}

#footer div{
  margin: 20px;
}

.card {
    font-size: 80%;
    margin: 2px;
}

.btn{
    margin: 2px;
    width: 45%;
    background: #3E939E;
    border: none;
    font-size: 90%;
}

p{
  margin-top: 5px;
  margin-bottom: 5px;
}

#analysis{
  font-size: 90%;
}

.x-axis {
  font-size: 100%;
}

.y-axis {
  font-size: 100%;
}

.chartLabel{
  font-size: 100%;
}

.active {
  font-weight: bold;
  /* fill: #000; */
  transition: fill 0.3s ease-out;
  text-anchor: middle;
}

.inactive {
  font-weight: lighter;
  fill: #c9c9c9;
  transition: fill 0.3s ease-out;
  text-anchor: middle;
}

.inactive:hover {
  fill: #000;
  cursor: pointer;
}

/* font size dependent on radius, see app.js */
.stateText {
  font-family: sans-serif;
  fill: #fff;
  text-anchor: middle;
}

.stateCircle {
  fill: #89bdd3;
  stroke: #e3e3e3;
}

#scatter {
  display: block;
  margin: 0;
}

.d3-tip {
  padding: 6px;
  font-size: 12px;
  line-height: 1;
  line-height: 1.5em;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
}

/* Mobile Rules */
@media screen and (max-width: 800px) {
  .stateText {
    fill: #89bdd3;
  }

  .analysis {
    font-size: 70%;
  }

}

@media screen and (max-width: 400px) {
  /* .stateText {
    fill:green;
  } */
  
  .analysis {
    font-size: 60%;
  }

}
